// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "bootswatch";

body {
    background-color: $gray-100;
}

.hideShowPassword-toggle {
    border: none !important;
    right: 10px !important;

    &:focus {
        outline: none !important;
    }
}
