@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'adminlte3/AdminLTE';
@import '~bootstrap-table/dist/bootstrap-table.min.css';
@import '~icheck-bootstrap/icheck-bootstrap.min.css';

.hideShowPassword-toggle {
    border: none !important;
    right: 10px !important;

    &:focus {
        outline: none !important;
    }
}
